.section {
    &--6 {
        .section__content {
            height: 100%;
            align-items: center;
        }
        .mxm-left-container {
            width: 50%;
            background-image: url('../src/6_map.jpg');
            height: 100%;
            background-size: cover;
        }
        .mxm-right-container {
            width: 50%;
            text-align: center;
        }
    }
}

@include mobile {
    .section {
        &--6 {
            .section__content {
                padding: 0;
            }
            .mxm-left-container {
                width: 100%;
            }
            .mxm-right-container {
                position: absolute;
                bottom: opt(30);
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}
