.section {
    &--6 {
        background-image: url('../src/6_1.png');

        .section__content {
            padding: opt(100);
            text-align: center;
            h2 {
                font-size: opt(40);
            }
            p {
                font-size: opt(24);
            }
        }
    }
    footer {
        border-top: 1px solid white;
        margin-top: opt(60);
        padding-top: opt(20);
        font-size: opt(13);
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .footer-right {
            display: flex;
            gap: opt(40);
            &__row {
                display: flex;
                gap: opt(15);
                align-items: center;
                img {
                    width: 100%;
                }
                .daelim {
                    width: opt(105);
                }
                .wisecity {
                    width: opt(115);
                }
                .cnd {
                    width: opt(135);
                }
            }
        }
    }
}

@include mobile {
    .section {
        &--6 {
            background-position: left 23% center;
            .section__content {
                padding: opt(20);
                padding-bottom: opt(100);
                justify-content: center;

                h2 {
                    font-size: opt(27);
                }
                p {
                    font-size: opt(18);
                }
            }
            footer {
                font-size: opt(7);
                margin-top: opt(40);
                .footer-left {
                    width: 65%;
                }
                .footer-right {
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: opt(5);
                    &__row {
                        .daelim {
                            width: opt(55);
                        }
                        .wisecity {
                            width: opt(60);
                        }
                        .cnd {
                            width: opt(70);
                        }
                    }
                }
            }
        }
    }
}
