* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
:root {
    --duration: 6s;
}
body {
    margin: 0;
    padding: 0;
    font-family: pretendard, helvetica, arial, sans-serif;
    // font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: opt(18);
    background-color: black;
    line-height: 1.5;
    color: white;
}

.section {
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-color: black;
    font-size: opt(18);
    h2 {
        font-size: opt(30);
        margin-bottom: opt(10);
        font-family: aktiv-grotesk-extended, helvetica, arial, sans-serif;
    }

    &__content {
        display: flex;
    }
    &--1 {
        background-image: url('../src/1_1.png');
    }

    .bottom-title {
        position: absolute;
        bottom: opt(40);
        left: 0;
        width: 100%;
        font-family: aktiv-grotesk-extended, helvetica, arial, sans-serif;

        text-align: center;
        color: white;
        font-weight: 400;
        padding-left: opt(40);
        padding-right: opt(40);
        font-size: opt(40);
        .ko,
        .en {
            border-right: opt(30) solid white;
            border-left: opt(30) solid white;
        }
        .ko {
            font-size: opt(37);
        }
    }
}

.slide {
    background-color: black;
    background-position: center center;
    background-size: cover;
    &.first {
        font-size: opt(24);
        h2 {
            font-size: opt(40);
        }
    }
}

h2 {
    font-size: opt(40);
    .ko {
        font-size: opt(37);
    }
}

.fp-controlArrow,
.fp-slidesNav {
    display: none;
}

sup {
    font-family: pretendard;
    font-size: 0.6em;
}

.swiper-button-prev,
.swiper-button-next {
    color: gray;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: calc(#{opt(25)} * -1);
    display: flex;
    justify-content: flex-end;
    gap: opt(10);
}

.swiper-pagination-bullet {
    border-radius: 0;
    background: #575757;
    opacity: 1;
    width: opt(10);
    height: opt(10);
    margin: 0;
}
.swiper-pagination-bullet-active {
    background: rgb(128, 122, 122);
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 !important;
}

.swiper-button-next {
    width: 50%;
    top: 0;
    right: 0;
    height: 100%;
    transform: none;
    margin-top: 0;
    cursor: e-resize;
    &::after {
        content: '';
    }
}

.swiper-button-prev {
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
    transform: none;
    margin-top: 0;
    cursor: w-resize;
    &::after {
        content: '';
    }
}

@include mobile {
    .slide {
        &.first {
            font-size: opt(18);
            h2 {
                font-size: opt(27);
                margin-bottom: opt(20);
            }
            p {
                font-size: opt(18);
            }
        }
    }
    .section {
        font-size: opt(18);
        h2 {
            font-size: opt(27);
            margin-bottom: opt(20);
        }
        .bottom-title {
            padding: opt(20);
            font-size: opt(21);
            bottom: 0;
            .en,
            .ko {
                font-size: opt(21);
                border-left-width: opt(20);
                border-right-width: opt(20);
            }
        }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        justify-content: center;

        bottom: calc(#{opt(90)} * -1);
        padding: opt(40);
    }
}
